body{
    font-family: 'Open Sans', sans-serif;
}

ul.menu li{
    display: inline-block;
}

#header{
    background-color: #0d2f74;
    background: url(../img/bg.jpg);
    overflow: hidden;
    color: #fff;
    padding-bottom: 80px;
}

#header h2{
    font-size: 23px;
}

#header select{
    color: #000;
}

.header-info, .header-select{
    padding-top: 87px;
}

#logos{
    text-align: center;
}

#logos{
    max-width: 100%;
}

#logos ul li{
    margin: 14px;
}

.entendi{
    border-radius: 3px;
    background-color: #135380;
    border: 0;
    padding: 10px 55px;
}

.contenido{
    margin-bottom: 26px;
    border-bottom: 1px solid #d8dde1;
    padding-bottom: 15px;
}

#filtros{
    text-align: center;
}

#filtros ul{
    padding: 20px 20px 0 20px;
}

#filtros ul li{
    background: #135380;
    margin: 0 4px 8px 0;
    padding: 10px;
    width: 174px;
    color: #fff;
}

#filtros ul li:hover{
    background: #0d2f74;
}

#filtros ul li p{
    margin: 10px 0 5px 0;
}

.referencias{
    font-size: 13px;
    border-radius: 15px;
    padding: 6px 15px;
}

#footer{
    background-color: #d9e4ec;
    overflow: hidden;
}

.footer-info{
    background-color: #edf4f9;
    margin-bottom: 150px;
    padding: 64px 24px;
}