<h1>Comparacion</h1>

<div class="alert alert-warning dismissable" ng-show="showWarning()">
  Nota: sólo se pueden seleccionar hasta 3 instituciones a la vez.
  <a href="" ng-click="markAsRead()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
</div>
<div class="selected-providers">
  <h3>Proveedores seleccionados:</h3>
  <div class="list-group" ng-repeat="provider in selectedProviders">
    <a href="" class="list-group-item dismissable" ng-click="removeFromComparison(provider)">
      <span class="list-group-item-text glyphicon glyphicon-remove" aria-hidden="true"></span>
      <h4 class="list-group-item-heading">{{provider.estructura.nombre_completo}}</h4>
      <p class="list-group-item-text">Montevideo, Colonia, Tacuarembó</p>
    </a>
  </div>
</div>

Filtrar Instituciones por Departamento:
<ui-select ng-model="state.selected" allow-clear="true" theme="select2" ng-disabled="maxComparedProviders.warning" style="min-width: 300px;">
  <ui-select-match placeholder="Elija un departamento">{{state.selected.name}}</ui-select-match>
  <ui-select-choices repeat="state in states">
    <div ng-bind-html="state.name | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
</div>

<div>
Elegir una institucion:
<ui-select ng-model="provider.selected" theme="select2"
           ng-disabled="maxComparedProviders.warning" style="min-width: 400px;" reset-search-input="true"
           on-select="addToComparison($item, $model)">
  <ui-select-match placeholder="Elija una institución">
    {{provider.selected.estructura.nombre_abreviado}}
  </ui-select-match>
  <ui-select-choices repeat="provider in providersByState(state.selected) track by $index">
    <div ng-bind-html="provider.estructura.nombre_completo | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Criterio</th>
      <th ng-repeat="provider in selectedProviders">{{provider.estructura.nombre_completo}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Estructura</td></tr>
    <tr ng-repeat="attribute in structure_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.estructura[attribute]}}</td>
    </tr>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Precios</td></tr>
    <tr ng-repeat="attribute in prices_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.precios[attribute]}} / {{stats.precios[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Tiempos de Espera</td></tr>
    <tr ng-repeat="attribute in times_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.tiempos_espera[attribute]}} / {{stats.tiempos_espera[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Recursos Humanos</td></tr>
    <tr ng-repeat="attribute in resources_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.rrhh[attribute]}} / {{stats.rrhh[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
</table>
