<h1>Comparacion</h1>

<div class="alert alert-warning dismissable" ng-show="showWarning()">
  Nota: sólo se pueden seleccionar hasta 3 instituciones a la vez.
  <a href="" ng-click="markAsRead()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
</div>

<div class="row compare">
  <div class="col-md-4">
    <h2>Selecciona un departamento</h2>
    <ui-select ng-model="state.selected" allow-clear="true" theme="select2" 
      ng-disabled="maxComparedProviders.warning">
      <ui-select-match placeholder="Elija un departamento">{{state.selected.name}}</ui-select-match>
      <ui-select-choices repeat="state in states">
        <div ng-bind-html="state.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="col-md-4">
    <h2>Elegir un prestador</h2>
    <ui-select ng-model="provider.selected" theme="select2"
               ng-disabled="maxComparedProviders.warning" reset-search-input="true"
               on-select="addToComparison($item, $model)">
      <ui-select-match placeholder="Elija una institución">
      {{provider.id}} - {{provider.selected.estructura['Nombre abreviado']}}
      </ui-select-match>
      <ui-select-choices repeat="provider in providersByState(state.selected) track by $index">
        <div ng-bind-html="provider.id"></div>
        <div ng-bind-html="provider.estructura['Nombre abreviado'] | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="col-md-4">
    <h2>Proveedores seleccionados:</h2>
    <div class="list-group" ng-repeat="provider in selectedProviders">
      <a href="" class="list-group-item dismissable">
        <span class="list-group-item-text glyphicon glyphicon-remove" aria-hidden="true" 
          ng-click="removeFromComparison(provider)"></span>
        <h4 class="list-group-item-heading">{{provider.estructura['Nombre Completo']}}</h4>
        <!-- <p class="list&#45;group&#45;item&#45;text">Montevideo, Colonia, Tacuarembó</p> -->
      </a>
    </div>
  </div>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Criterio</th>
      <th ng-repeat="provider in selectedProviders">{{provider.estructura.nombre_completo}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Estructura</td></tr>
    <tr ng-repeat="attribute in structure_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.estructura[attribute]}}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Precios</td></tr>
    <tr ng-repeat="attribute in prices_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.precios[attribute]}} / {{stats.precios[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Tiempos de Espera</td></tr>
    <tr ng-repeat="attribute in times_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.tiempos_espera[attribute]}} / {{stats.tiempos_espera[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Recursos Humanos</td></tr>
    <tr ng-repeat="attribute in resources_attr">
      <td>{{attribute}}</td>
      <td ng-repeat="provider in selectedProviders">{{provider.rrhh[attribute]}} / {{stats.rrhh[attribute]["50"] | number:2 }}</td>
    </tr>
  </tbody>
  <tbody>
    <tr class="table-group"><td colspan="{{selectedProviders.length + 1}}">Sedes</td></tr>
    <tr ng-repeat="sede in sedes">
      {{sede}}

      <!-- <td>{{attribute}}</td> -->
      <!-- <td ng&#45;repeat="provider in selectedProviders">{{provider.rrhh[attribute]}} / {{stats.rrhh[attribute]["50"] | number:2 }}</td> -->
    </tr>
  </tbody>
</table>


