<tour step="currentStep">
<a href="" ng-click="openTour()">Empezar Tour</a>

<h1>Listado</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th class="col-md-3">
        <div>
          <h1 tourtip="tip 1" tourtip-step="0">Prestador</h1>
        </div>
        <div class="description">
          <ul>
            <li>Sede Primaria</li>
            <li>Sede Secundaria</li>
            <li>Policlínicas</li>
            <li>Urgencia</li>
          </ul>
        </div>
      </th>
      <th class="col-md-3">
        <div>
          <h1>Tiempo de espera</h1>
        </div>
        <div class="description">
          <ul>
            <li>Medicina gral.</li>
            <li>Cirugía gral.</li>
            <li>Pediatría</li>
            <li>Ginecología</li>
            <li>Médico de referencia</li>
          </ul>
        </div>
      </th>
      <th class="col-md-3">
        <div>
          <h1>Metas asistenciales</h1>
        </div>
        <div class="description">
          <ul>
            <li>Satisfaccion</li>
            <li>Disp.agenda</li>
            <li>Tramites</li>
            <li>Disp. medicam.</li>
            <li>Info. derechos</li>
            <li>Recep. quejas</li>
          </ul>
        </div>
      </th>
      <th class="col-md-3">
        <div>
          <h1>Costo promedio</h1>
        </div>
        <div class="description">
          <ul>
            <li>Medicamentos</li>
            <li>Tickets</li>
            <li>Urgencia</li>
            <li>Estudios</li>
          </ul>
        </div>
      </th>
      <th class="col-md-3">
        <div>
          <h1>Personal disponible</h1>
        </div>
        <div class="description">
          <ul>
            <li>Medicos generales</li>
            <li>Medicos familia</li>
            <li>Pediatras</li>
            <li>Ginecólogos</li>
            <li>Enfermeros</li>
            <li>Lic. en Enfermería</li>
          </ul>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="provider in providers">
      <td>
        <!-- add directive for this -->
        <div class="info">
          {{provider.id}}
          <h1>{{provider.estructura.nombre_completo}}</h1>
          <h3>{{provider.estructura.web}}</h3>
          <p>Estructura:</p>
          {{provider.estructura_por_departamento}}
          <!-- {{provider.estructura_por_departamento["Canelones"]["Cantidad de sedes secundarias"]}} -->
          <!-- {{provider.estructura_por_departamento["Canelones"]["Cantidad de sedes ambulatorias"]}} -->
          <!-- {{provider.estructura_por_departamento["Canelones"]["Tiene urgencia"]}} -->
          <p>Asignación de citas:</p>
          <a href="">Comparar</a>
        </div>
        </div>
      </td>
      <td>
        <!-- add directive for this provider -->
        <div class="time_pie">
          {{provider.tiempos_espera}}
          <!-- <p>{{provider.tiempos_espera.medicina_general}}</p> -->
          <!-- <p>{{provider.tiempos_espera.cirugia}}</p> -->
          <!-- <p>{{provider.tiempos_espera.pediatria}}</p> -->
          <!-- <p>{{provider.tiempos_espera.ginecologia}}</p> -->
          <!-- <p>{{provider.tiempos_espera.medico_referencia}}</p> -->
        </div>
      </td>
      <td>
        <!-- add directive for this provider -->
        <div class="objectives_progress">
          <p>{{provider.satisfaccion_derechos}}</p>
        </div>
      </td>
      <td>
        <!-- add directive for this provider -->
        <div class="price_icons">
          <p>{{provider.precios.averages}}</p>
          <!-- <p>{{provider.precios.averages.tickets | number:2}}</p> -->
          <!-- <p>{{provider.precios.averages.tickets_urgentes | number:2}}</p> -->
          <!-- <p>{{provider.precios.averages.estudios | number:2}}</p> -->
        </div>
      </td>
      <td>
        <!-- add directive for this provider -->
        <div class="price_icons">
          <p>{{provider.rrhh}}</p>
          <!-- <p>{{provider.rrhh.medicos_familia}}</p> -->
          <!-- <p>{{provider.rrhh.pediatras}}</p> -->
          <!-- <p>{{provider.rrhh.ginecologos}}</p> -->
          <!-- <p>{{provider.rrhh.aux_enfermeria}}</p> -->
          <!-- <p>{{provider.rrhh.lic_enfermeria}}</p> -->
        </div>
      </td>
      <td>
        <!-- add directive for this provider -->
        <div class="sedes">
          <p>{{provider.rrhh.medicos_generales}}</p>
          <p>{{provider.rrhh.medicos_familia}}</p>
          <p>{{provider.rrhh.pediatras}}</p>
          <p>{{provider.rrhh.ginecologos}}</p>
          <p>{{provider.rrhh.aux_enfermeria}}</p>
          <p>{{provider.rrhh.lic_enfermeria}}</p>
        </div>
      </td>
    </tr>
  </tbody>
</tour>
